body {
	background-image:url('../images/stackedTile.jpg'); 
}

/*#more {
	padding-right: 550px;
}*/

#name {
	text-align: right;
	font-size: 60px;
	padding-right: 125px;	
}

#buttonBay {
	background-color: beige;
	height: 150px;
	width: 64px;
	float: right;
	position: fixed;
}

/*#basic {
	margin-top: 44px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	padding-top: 70px;
	width:1059px;

#infoLine {
	padding-top: 40px;
}

#email {
	float:left;
}

#address {
	text-align: center;
	float: left;
	margin-left: 150px;
}

#phone {
	float: left;
	text-align: right;
	margin-left: 151px;
}
	padding-left: 113px;

}

.list {
	margin-top: 16px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	padding-top: 61px;
	padding-right: 19px;
	padding-bottom: 12px;
	width: 1040px;
	position: relative;
}

.miniheading {
	margin-top: -85px;
	margin-left: -8px;
}

.type {
	width:125px;
	float: left;
}

.tricks {
	text-align: left;
	width: 914px;
	float: left;
	margin-top: -5px;
	padding-top: 5px;

}

.accmpdate{
	width:125px;
	float: left;
}

.accmptype {
	text-align: left;
	width: 914px;
	float: left;
	margin-top: -5px;
	padding-top: 5px;
}

.summary {
	margin-top: 16px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	padding-top: 61px;
	padding-right: 19px;
	padding-bottom: 12px;
	width: 1040px;
	position: relative;	
}

.dates {
	width:125px;
	float: left;
}

.position {
	text-align: left;
	width: 300px;
	margin-top: -5px;
	padding-top: 5px;
	float: left;
	font-weight: bold;
}

.employer {
	text-align: left;
	float: left;
	margin-top: -5px;
	padding-top: 5px;
	padding-right: 5px;
	font-style: italic;
}

.citystate {
	text-align: left;
	width: 220px;
	float: left;
	margin-top: -5px;
	padding-top: 5px;
}

.responsibilities {
	padding-left: 3px;
}
*/